# Temporary MX Linux viewer-test configuration.
PVE_HOST='192.168.2.2'
PVE_NODE='wisdom'
PVE_VMID='101'
PVE_TOKEN_ID='wyse-test@pve!diagnostic'
PVE_TOKEN_SECRET='paste-the-temporary-test-secret-here'
PVE_TLS_VERIFY='0'
